@font-face {
    font-family: "dancing-script";
    src: url("./DancingScript-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "dancing-script";
}

:root {
    --main-color-1: #fef3c7;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-height: 100vh;
    background-image: url("./images/restaurant-background-min.jpg");
    background-size: cover;
}

.header {
    padding:2rem;
    box-shadow: 2px 2px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 2rem;
    margin: 0 10%;
    flex-wrap: wrap;
}

nav > button {
    background: none;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid transparent;
}

nav > button.clicked {
    border-bottom: 2px solid black;
}

nav > button:hover {
    transform: translateY(-10%);
};

.content {
    transition: 1s;
}

.footer{
    box-shadow: -2px -2px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.header,
.footer{
    /* width: 100%; */
    z-index: 1;
    background-color: rgb(254, 243, 199, 0.6);
}

.footer {
    display: flex;
    gap: 2rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu,
.about,
.contact {
    max-width: 800px;
    background-color: rgb(254, 243, 199, 0.6);
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

.taster {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 2rem 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;    
}

.contact > div {
    flex: 50%;
    padding: 1rem;
}

.contact > div > img {
    width: 400px;
    border-radius: 8px;
}

.contact > div > ul > li {
    list-style: none;
}

.location {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.menu {

    flex-direction: column;
    display: flex;

}

.menu-holder{
    display: flex;
    flex-wrap: wrap;
}

.menu-header {
    text-align: center; 
    padding: 1rem; 
    border-bottom: 3px solid black;
}

.menu-item {
    max-width: 350px;
    margin: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: 0.5s;
    border-bottom: 2px solid black;
}
   
.menu-item:hover {
    transform: scale(1.05);
}

.menu-item > img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

li {
    font-size: 1.2rem;
}