@font-face {
    font-family: "dancing-script";
    src: url("./DancingScript-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "dancing-script";
}

:root {
    --main-color-1: #fef3c7;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    min-height: 100vh;
    background-image: url("./restaurant-background-min.jpg");
    background-size: cover;
}

.header {
    box-shadow: 2px 2px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav {
    display: flex;
    gap: 3rem;
    margin: 0 10%;
}

nav > button {
    background: none;
    font-size: 2rem;
    border: none;
    border: 2px solid transparent;
}

nav > button.clicked {
    border-bottom: 2px solid black;
}

nav > button:hover {
    transform: translateY(-10%);
}

.footer{
    box-shadow: -2px -2px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.header,
.footer{
    z-index: 1;
    background-color: rgb(254, 243, 199, 0.6);
}

.footer {
    display: flex;
    gap: 2rem;
    /* flex-direction: column; */
}

.content {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    min-height: 80%;
    min-width: 50%;
    background-color: rgb(254, 243, 199, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

.taster {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 2rem 0;
}

.about {

}

.contact {

}

h1 {
    
}

